<template>
  <v-snackbar
    v-model="appear"
    top
    right
    app
    :color="color"
    :timeout="3500"
    transition="slide-y-transition"
  >
    {{ message }}
  </v-snackbar>
</template>

<script>
export default {
  name: 'SnackBar',
  data() {
    return {
      appear: false,
      color: 'success',
      message: '',
    };
  },
  methods: {
    show(data) {
      this.appear = data.appear || false;
      this.color = data.color || 'success';
      this.message = data.message || '';
    },
  },
};
</script>

<style scoped>

</style>
