<template>
  <v-form
    class="d-flex flex-column align-center mt-8"
    ref="cityForm"
    lazy-validation
    @submit.prevent="searchWeather"
  >
    <v-text-field
      v-model="city"
      label="Search city"
      outlined
      rounded
      :rules="cityRules"
      @keydown.enter="searchWeather"
      append-icon="mdi-magnify"
      @click:append="searchWeather"
    ></v-text-field>
  </v-form>
</template>

<script>
export default {
  data() {
    return {
      city: '',
      cityRules: [
        (v) => !!v || 'City is required',
      ],
      bypassFormValidation: false,
    };
  },
  methods: {
    async searchWeather() {
      try {
        if (this.$refs.cityForm.validate() || this.bypassFormValidation) {
          this.bypassFormValidation = false;
          await this.$store.dispatch('weather/getCityCoordinates', this.city);
          await this.$store.dispatch('weather/getWeatherData');
          await this.pushCityToRouteParams();
        }
      } catch (e) {
        this.$root.snackBar.show({
          appear: true,
          color: 'error',
          message: 'Error while fetching weather information. Please try again!',
        });
      }
    },
    async pushCityToRouteParams() {
      if (this.city !== this.$route.query.city) {
        await this.$router.push({
          path: '/weather',
          query: { city: this.city },
        });
      }
    },
  },
  async mounted() {
    if (this.$route.query.city) {
      this.city = this.$route.query.city;
      this.bypassFormValidation = true;
      await this.searchWeather();
    }
  },
};
</script>
