<template>
  <div
    v-if="weatherData || loading"
    class="d-flex flex-column align-center"
  >
    <div
      class="text-h5 font-weight-bold text-capitalize"
    >
      {{ weatherData?.weather[0].description }}
    </div>
    <v-col cols="4">
      <v-row>
        <weather-stat-card
          title="Sunrise:" :card-text="weatherData?.sunrise.toString()" :loading="loading"/>
        <weather-stat-card
          title="Sunset:" :card-text="weatherData?.sunset.toString()" :loading="loading"/>
        <weather-stat-card
          title="Temperature:" :card-text="weatherData?.temp.toString()" :loading="loading"/>
        <weather-stat-card
          title="Feels like:"
          :card-text="weatherData?.feels_like.toString()"
          :loading="loading"
        ></weather-stat-card>
        <weather-stat-card
          title="Humidity:" :card-text="weatherData?.humidity.toString()" :loading="loading"/>
        <weather-stat-card
          title="Wind speed:"
          :card-text="weatherData?.wind_speed.toString()"
          :loading="loading"
        ></weather-stat-card>
      </v-row>
    </v-col>
  </div>
</template>

<script>
import WeatherStatCard from '@/components/weather/WeatherStatCard.vue';

export default {
  components: { WeatherStatCard },
  computed: {
    loading() {
      return this.$store.getters['weather/getLoading'];
    },
    weatherData() {
      return this.$store.getters['weather/getWeatherData'];
    },
  },
};
</script>
