<template>
  <v-col cols="6">
    <div v-if="loading">
      <v-progress-circular indeterminate color="primary"></v-progress-circular>
    </div>
    <div v-else class="d-flex flex-row align-baseline gap-1">
      <div class="text-h6">{{ title }}</div>
      <div>{{ cardText }}</div>
    </div>
  </v-col>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    cardText: {
      type: String,
      required: true,
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
