<template>
  <div>
    <city-search/>
    <forecast-details/>
  </div>
</template>

<script>
import CitySearch from '@/components/weather/CitySearch.vue';
import ForecastDetails from '@/components/weather/ForecastDetails.vue';

export default {
  components: { CitySearch, ForecastDetails },
};
</script>
