<template>
  <v-app>
    <nav-bar/>
    <v-main class="">
      <snack-bar ref="snackBar"/>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
import NavBar from '@/components/nav/NavBar.vue';
import SnackBar from '@/components/shared/SnackBar.vue';

export default {
  name: 'App',
  components: { NavBar, SnackBar },
  mounted() {
    this.$root.snackBar = this.$refs.snackBar;
  },
};
</script>
