<template>
  <v-app-bar app color="primary" dark>
    <router-link to="/">
      <div
        class="text-h5 font-weight-bold"
        style="color: white"
      >
        Weather App
      </div>
    </router-link>
    <v-spacer></v-spacer>
    <v-btn
      v-if="loggedIn"
      @click="logout"
      color="white"
      text
      rounded
    >
      Logout
    </v-btn>
  </v-app-bar>
</template>

<script>

export default {
  computed: {
    loggedIn() {
      return this.$store.getters['auth/isAuthed'];
    },
  },
  methods: {
    logout() {
      this.$store.dispatch('weather/resetState');
      this.$store.dispatch('auth/logout');
      this.$router.push('/');
    },
  },
};
</script>
