<template>
  <v-container fluid fill-height>
    <v-row justify="center">
      <v-col cols="12" sm="8" md="6" lg="5" xl="4">
        <v-card class="elevation-12 rounded-xl">
          <v-card-title class="primary-bg white--text">
            <h3 class="mx-auto">Ready to check the weather?</h3>
          </v-card-title>
          <v-card-text class="px-8 pt-6">
            <v-form
              class="d-flex flex-column mt-8"
              ref="loginForm"
              lazy-validation
            >
              <span class="ms-1">Email</span>
              <v-text-field
                v-model="email"
                outlined
                required
                rounded
                :rules="emailRules"
              ></v-text-field>
              <span class="ms-1">Password</span>
              <v-text-field
                v-model="password"
                outlined
                required
                type="password"
                rounded
                :rules="passwordRules"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions class="px-8 pb-6">
            <v-btn
              type="submit"
              color="primary"
              class="rounded-circle mx-auto"
              @click="login"
              :loading="loading"
              icon
              outlined
              x-large
            >
              <v-icon size="22">
                mdi-login
              </v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      loading: false,
      passwordRules: [
        (v) => !!v || 'Password is required',
      ],
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
    };
  },
  methods: {
    login() {
      this.loading = true;
      try {
        if (this.$refs.loginForm.validate()) {
          this.$store.dispatch('auth/login', { email: this.email, password: this.password });
          this.$router.push('/weather');
        }
      } catch (e) {
        this.$root.snackBar.show({
          appear: true,
          color: 'error',
          message: 'Wrong email/password combination!',
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style scoped>
.primary-bg {
  background-color: #2196f3 !important;
}
</style>
